.app-header {
  display: flex;
  background-color: #000;
  justify-content: space-between;
  padding: 0 14px;
}

.header-item a,
.header-item:link a,
.header-item:visited a,
.header-item:hover a,
.header-item:active a {
  display: block;
  color: #fff;
  font-weight: bold;
}

.logo {
  height: 60px;
}
