.app-footer {
  background-color: #eee;
  padding: 30px;
  display: flex;
  justify-content: space-evenly;
  color: #000;
  font-weight: bold;
}

.app-footer > ul > li {
  list-style-type: none;
}

.app-footer > .social > li {
  display: inline-block;
}

.anticon.footer-icon {
  margin-left: 10px;
  font-size: 20px;
}
