.app-footer {
  background-color: #eee;
  padding: 30px;
  color: #000;
  font-weight: bold;
}

.app-footer ul > li {
  list-style-type: none;
}

.app-footer .social > li {
  display: inline-block;
}

.social li:not(:first-child) {
  margin-left: 10px;
}

.anticon.footer-icon {
  font-size: 20px;
}
